.header {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  margin: 1rem;
  font-size: 1.35rem;
  font-weight: normal;
}

.header p {
  margin: 1rem;
}

.header a:link,
.header a:visited,
.header a:hover,
.header a:active {
  color: #1ea7fd;
  text-decoration: none;
}
